@import "tailwindcss";

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  --gray-light: hsl(210, 46%, 95%);
  --gray-blue: hsl(212, 23%, 69%);
  --gray: hsl(214, 17%, 51%);
  --gray-dark: hsl(217, 19%, 35%);
}

body {
  box-sizing: border-box;
  font-size: clamp(0.8em, 0.8em + 4vw, 3em);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope";
}
